.ui-button {
    -fx-text-fill: rgba(28, 28, 28);
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #e3e3e3 #e3e3e3 #cacaca #e3e3e3;

    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);
}
.ui-button:focused {
    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);
}
.ui-button:disabled {
    -fx-opacity: 1;
    -fx-text-fill: rgb(156, 156, 156);

    -fx-border-color: #e3e3e3 #e3e3e3 #cacaca #e3e3e3;
    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);

}
.ui-button:default {
    -fx-background-color: #0066be #0066be #0066be #0066be;
    -fx-border-color: transparent transparent #003e72 transparent;
    -fx-text-fill: rgba(253, 253, 253);
}
.ui-button:default:hover {
    -fx-background-color: #1975c5 #1975c5 #1975c5 #1975c5;
    -fx-border-color: transparent transparent #003e72 transparent;

}
.ui-button:default:pressed {
    -fx-background-color: #3183ca #3183ca #3183ca #3183ca;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-text-fill: rgba(253, 253, 253, 0.7);
}