.ui-button {
    -fx-text-fill: rgb(253, 253, 253);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -ui-button-defined-border-radius: 5;
    -fx-font-size: 14;
    -fx-background-insets: 0 0 1 0;
    -ui-button-defined-border-width: 1;

    -fx-border-color: #353535 #353535 #303030 #353535;

    -fx-background-color:
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45);
}
.ui-button:focused {
    -fx-background-color:
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45);
}
.ui-button:disabled {
    -fx-opacity: 1;
    -fx-text-fill: rgb(253, 253, 253, 0.7);

    -fx-border-color: #353535 #353535 #353535 #353535;
    -fx-background-color:
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45),
            rgba(45, 45, 45);

}
.ui-button:default {
    -fx-text-fill: rgba(28, 28, 28);
    -fx-background-color: #4bc0fd #4bc0fd #4bc0fd #4bc0fd;
    -fx-border-color: transparent transparent #40a0d1 transparent;
}
.ui-button:default:hover {
    -fx-background-color: #47b1e8 #47b1e8 #47b1e8 #47b1e8;
    -fx-border-color: transparent transparent #40a0d1 transparent;
}
.ui-button:default:pressed {
    -fx-text-fill: rgba(28, 28, 28, 0.7);
    -fx-background-color: #42a1d2 #42a1d2 #42a1d2 #42a1d2;
    -fx-border-color: transparent transparent transparent transparent;
}
.ui-check-box {
    -fx-text-fill: rgb(221, 221, 221);
    -fx-font-size: 14;
}
.ui-check-box .box {
    -fx-background-color: #1d1d1d #1d1d1d #1d1d1d #1d1d1d;
    -fx-background-insets: 0 0 1 0;
    -fx-border-color: #979797;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.ui-check-box:hover .box {
    -fx-background-color: #2a2a2a #2a2a2a #2a2a2a #2a2a2a;
}
.ui-check-box:pressed .box {
    -fx-background-color: #303030 #303030 #303030 #303030;
    -fx-border-color: #4a4a4a;
}
.ui-check-box:focused .box {
    -fx-background-color: #1d1d1d #1d1d1d #1d1d1d #1d1d1d;
    -fx-background-insets: 0 0 1 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.ui-check-box:selected .box,
.ui-check-box:indeterminate .box {
    -fx-background-color: #4bbffc;
    -fx-border-color: #4bbffc;
}
.ui-check-box:selected:hover .box,
.ui-check-box:indeterminate:hover .box {
    -fx-background-color: #47b1e8;
    -fx-border-color: #47b1e8;
}
.ui-check-box:selected:pressed .box,
.ui-check-box:indeterminate:pressed .box {
    -fx-background-color: #42a1d2;
    -fx-border-color: #42a1d2;
}
.ui-check-box .box .mark {
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-opacity: 0;
}
.ui-check-box:indeterminate .box .mark {
    -fx-shape: "";
    -fx-scale-shape: false;
    -fx-opacity: 0;
}
.ui-check-box .check-line {
    -fx-stroke: black;
}
.ui-check-box:pressed .check-line {
    -fx-stroke: rgba(0, 0, 0, 0.65);
}
.ui-check-box:disabled {
    -fx-opacity: 1;
    -fx-text-fill: rgb(119, 119, 119);
}
.ui-check-box:disabled .box {
    -fx-background-color: #303030 #303030 #303030 #303030;
    -fx-border-color: #4a4a4a;
}
.ui-check-box:selected:disabled .box,
.ui-check-box:indeterminate:disabled .box {
    -fx-background-color: #42a1d2;
    -fx-border-color: #42a1d2;
}