.ui-button {
    -fx-text-fill: rgba(28, 28, 28);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 14;

    -fx-border-color: #e3e3e3 #e3e3e3 #cacaca #e3e3e3;

    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);
}
.ui-button:focused {
    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);
}
.ui-button:disabled {
    -fx-opacity: 1;
    -fx-text-fill: rgb(156, 156, 156);

    -fx-border-color: #e3e3e3 #e3e3e3 #cacaca #e3e3e3;
    -fx-background-color:
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249),
            rgba(249, 249, 249);

}
.ui-button:default {
    -fx-background-color: #0066be #0066be #0066be #0066be;
    -fx-border-color: transparent transparent #003e72 transparent;
    -fx-text-fill: rgba(253, 253, 253);
}
.ui-button:default:hover {
    -fx-background-color: #1975c5 #1975c5 #1975c5 #1975c5;
    -fx-border-color: transparent transparent #003e72 transparent;

}
.ui-button:default:pressed {
    -fx-background-color: #3183ca #3183ca #3183ca #3183ca;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-text-fill: rgba(253, 253, 253, 0.7);
}
.ui-check-box {
    -fx-text-fill: rgb(70, 70, 70);
    -fx-font-size: 14;
}
.ui-check-box .box {
    -fx-background-color: #eaeaea #eaeaea #eaeaea #eaeaea;
    -fx-background-insets: 0 0 1 0;
    -fx-border-color: #838383;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.ui-check-box:hover .box {
    -fx-background-color: #e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5;
}
.ui-check-box:pressed .box {
    -fx-background-color: #dcdcdc #dcdcdc #dcdcdc #dcdcdc;
    -fx-border-color: #b6b6b6;
}
.ui-check-box:focused .box {
    -fx-background-color: #eaeaea #eaeaea #eaeaea #eaeaea;
    -fx-background-insets: 0 0 1 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.ui-check-box:selected .box {
    -fx-background-color: #0066be;
    -fx-border-color: #0066be;
}
.ui-check-box:selected:hover .box {
    -fx-background-color: #1975c5;
    -fx-border-color: #0e6ec2;
}
.ui-check-box:selected:pressed .box {
    -fx-background-color: #3183ca;
    -fx-border-color: #1d77c5;
}
.ui-check-box:indeterminate .box {
    -fx-padding: 0;
    -fx-background-color: #0066be;
    -fx-border-color: #0066be;
}
.ui-check-box:indeterminate:hover .box {
    -fx-background-color: #1975c5;
    -fx-border-color: #0e6ec2;
}
.ui-check-box:indeterminate:pressed .box {
    -fx-background-color: #3183ca;
    -fx-border-color: #1d77c5;
}
.ui-check-box .box .mark {
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-opacity: 0;
}
.ui-check-box:indeterminate .box .mark {
    -fx-shape: "";
    -fx-scale-shape: false;
    -fx-opacity: 0;
}
.ui-check-box .check-line {
    -fx-stroke: #fdfdfd;
}